table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th {
    background: black;
    color: white !important;
}

td,
th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    color: black;
    padding: 10px 15px !important;
}
.paddingNone {
    padding: 0 !important;
}

.img {
    position: relative;
    width: 150px;
    height: 150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}
