* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main {
    min-height: 50vh;
}

hr {
    border-color: #0ba8ec !important;
}

.header {
    background: black;
    background: linear-gradient(#2b2b2b, black);
    padding-bottom: 5px;
}

.inlog {
    float: right;
    margin-right: 40px;
    margin-top: 10px;
    font-size: 1.1em;
}

.inlog a {
    color: #ffffff !important;
    padding-left: 10px;
}

.logo {
    margin-top: -5px;
}

@media screen and (max-width: 990px) {
    .logo {
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        margin-top: 10px;
    }
}

.panel-heading1 {
    background: #0ba8ec !important;
}

.title {
    padding-left: 15px;
}

.title-box {
    margin-left: 15px;
}

.title-box-color {
    color: #0ba8ec;
}

.lees-meer-btn {
    padding: 5px 10px 5px 10px;
    background: #f45713;
    color: white;
    border: none;
    transition: all 300ms;
}

.lees-meer-btn:hover {
    color: #f45713;
    background: white;
}

.footer-wrapper {
    height: 100%;
    background: linear-gradient(#2b2b2b, black);
}

.footer-title {
    padding-top: 15px;
    color: #fff;
}

.carousel-inner > .item > a > img,
.carousel-inner > .item > img,
.img-responsive,
.thumbnail a > img,
.thumbnail > img {
    display: block;
    width: 100% !important;
    height: 50vh !important;
}

.footer-name {
    width: 100%;
    padding: 5px;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    margin-bottom: 2px;
    border: none;
}

.footer-mail {
    width: 100%;
    padding: 5px;
    margin-bottom: 2px;
    border: none;
}

.footer-message {
    width: 100%;
    height: 230px;
    padding: 5px;
    border: none;
}

.footer-btn {
    width: 100%;
    margin-top: -5px;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}

/*footer messageg media */

@media screen and (max-width: 992px) {
    .footer-name {
        min-width: 250px;
    }

    .footer-mail {
        min-width: 250px;
    }

    .footer-message {
        min-width: 250px;
    }

    .footer-btn {
        min-width: 250px;
    }
}

.navbar-default {
    background-color: black !important;
    color: #0ba8ec !important;
}

.navbar-default a {
    color: #0ba8ec !important;
}

.dropdown-menu > ul {
    background-color: black;
}

.dropdown-menu > li > a:hover {
    background-color: #0ba8ec !important;
}

.dropdown-menu {
    background-color: #0ba8ec !important;
}

.navbar-nav > li > .dropdown-menu {
    border-color: #0ba8ec !important;
    color: white !important;
}

.navbar-default .navbar-collapse {
    border-color: #000 !important;
}

.navbar-default .navbar-toggle {
    border-color: black !important;
    font-size: 1.5em !important;
}

.dropdown-menu > li > a {
    color: white !important;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: black !important;
    border-color: black !important;
}

.navbar {
    margin-bottom: 0px !important;
    border: 0px solid black !important;
    font-weight: bold;
}

.dropdown-menu > li > a:hover {
    background: #0ba8ec !important;
    color: #fff !important;
    text-decoration: underline !important;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.sliderbox {
    margin-right: -15px !important;
    margin-left: -15px !important;
}

img {
    max-width: 100%;
    height: auto;
}

.ruimte {
    padding: 2px;
}

.reactie-foto {
    border-bottom: 1px solid #0ba8ec;
    width: 100%;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: white !important;
    background-color: #0ba8ec !important;
}

.logo {
    margin-top: 15px;
}

ol.listing {
    list-style-type: decimal;
}

.menu-right {
    margin-right: 500px;
}
.navbar {
    border-radius: 0 !important;
}

.navbar-default .navbar-brand {
    color: #000 !important;
}

.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background: #0ba8ec !important;
    color: #fff !important;
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropbtn {
    border: none;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    text-decoration: none;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    z-index: 1000000000 !important;
    color: white !important;
    text-decoration: none;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    text-decoration: none !important;
}

.fb-comments,
.fb-comments span,
.fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}

.headerzijkant {
    background: linear-gradient(#2b2b2b, black);
}

.navbar {
    min-height: 0px !important;
}

.navbar-nav > li > a {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.overonsHover > li > a:focus,
.overonsHover > li > a:hover {
    color: #086b97 !important;
    text-decoration: underline !important;
}

.overonsHover {
    cursor: pointer;
}

.FooterContactTekst {
    color: white;
    text-align: left;
}

@media screen and (max-width: 990px) {
    .footer-name {
        width: 50%;
    }

    .footer-message {
        width: 50%;
    }

    .footer-mail {
        width: 50%;
    }
    .footer-btn {
        width: 50%;
    }
    .FooterContactTekst {
        color: white;
        text-align: center;
    }
}

.border-color-blue {
    background-color: #0ba8ec !important;
    border-color: #0ba8ec !important;
}
.border-color-black {
    background-color: #000 !important;
    color: white !important;
}

.columns {
    column-count: 1;
}

.verticalLine {
    border-left: 1px solid #0ba8ec;
}

.border-note {
}

.maring {
    margin-bottom: 20px;
}

.GlyphSize {
    font-size: 2.4em;
}

.message {
    border-radius: 0.3em;
    color: white;
    padding: 1em;
    font-size: 1.5rem;
    margin: 1em auto;
    text-align: center;
    width: 90%;
}
.linkTekst {
    color: white;
    text-decoration: underline;
}
.linkTekst:hover {
    color: white;
}

/*Warining*/
.warning {
    background: #e67e22;
    width: 100%;
}

/*Gelukt*/
.gelukt {
    background: #00a99d;
}

/*Error*/
.error {
    background: #e74c3c;
}

.verticalLineRuimte {
    margin-left: 15px;
}

.img {
    position: relative;
    float: left;
    width: 150px;
    height: 150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 5px;
}

/*dit is het deel wat kaan heeft gedaan.. indien het alles opfockt haal het weg :)*/

.album-ruimte {
    margin-bottom: 12px;
    width: auto;
    height: 200px;
}

#images {
    width: 400px;
    height: auto;
    overflow: hidden;
    position: relative;

    margin: 20px auto;
}
#images img {
    width: auto;
    height: 400px;

    position: absolute;
    top: 0;
    left: -400px;
    z-index: 1;
    opacity: 0;

    transition: all linear 500ms;
    -o-transition: all linear 500ms;
    -moz-transition: all linear 500ms;
    -webkit-transition: all linear 500ms;
}
#images img:target {
    left: 0;
    z-index: 9;
    opacity: 1;
}
#images img:first-child {
    left: 0;
    opacity: 1;
}
#slider a {
    text-decoration: none;
    background: #e3f1fa;
    border: 1px solid #c6e4f2;
    padding: 4px 6px;
    color: #222;
}
#slider a:hover {
    background: #c6e4f2;
}

.sponsor_vak {
    margin-bottom: 6%;
    border: 1px solid black;
    margin-top: 2%;
}

.imgAlbum {
    margin: 0;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.dropzone {
    border: 2px dashed #0087f7;
    border-radius: 5px;
    background: white;
    padding: 1em;
    min-height: 80px !important;
}

.glyphicon-remove:before {
    line-height: 20px;
}

.glyphicon-ok:before {
    line-height: 20px;
}
