* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

hr {
  border-color: #aaa !important;
}

.header {
  background: black;
  background: linear-gradient(#2B2B2B, black);
  min-height: 125px;
}

.inlog {
  float: right;
  margin-right: 40px;
  margin-top: 10px;
  font-size: 1.1em;
}

.inlog a {
  color: #ffffff;
  padding-left: 10px;
}

.logo {
  margin-top: -5px;
}

@media screen and (max-width: 990px) {
  .logo {
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    margin-top: 10px;
  }
}

.panel-heading {
  background: black !important;
  color: white !important;
}

.panel-heading1 {
  background: #0ba8ec !important;
}

.title {
  padding-left: 15px;
}

.title-box {
  margin-left: 15px;
}

.title-box-color {
  color: #0BA8EC;
}

.lees-meer-btn {
  padding: 5px 10px 5px 10px;
  background: #F45713;
  color: white;
  border: none;
  transition: all 300ms;
}

.lees-meer-btn:hover {
  color: #F45713;
  background: white;
}

.footer-wrapper {
  height: 600px;
  background: linear-gradient(#2B2B2B, black);
}

.footer-title {
  padding-top: 15px;
  color: #fff;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
  display: block;
  width: 100% !important;
  height: 50vh !important;
  object-fit: cover;
}

.footer-name {
  width: 90%;
  padding: 4px;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  margin-bottom: 2px;
  border: none;
}

.footer-message {
  width: 90%;
  height: 230px;
  padding: 4px;
  border: none;
}

.footer-btn {
  width: 90%;
  margin-top: -5px;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}

.navbar-default {
  background-color: black !important;
  color: #0ba8ec !important;
}

.navbar-default a {
  color: #0ba8ec !important;
}

.dropdown-toggle {
  background-color: black !important;
}

.dropdown-menu > ul {
  background-color: black !important;
}

.dropdown-menu > li > a:hover {
  background-color: black !important;
}

.dropdown-menu {
  background-color: black !important;
}

.navbar-nav > li > .dropdown-menu {
  border-color: black !important;
}

.navbar-default .navbar-collapse {
  border-color: black !important;
}

.navbar-default .navbar-toggle {
  border-color: black !important;
  font-size: 1.5em !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: black !important;
  border-color: black !important;
}

.navbar {
  margin-bottom: 0px !important;
  border: 1px solid black !important;
  font-weight: bold;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.sliderbox {
  margin-right: -15px !important;
  margin-left: -15px !important;
}

.dropdown-menu > li > a:hover {
  background: #0ba8ec !important;
  color: #fff !important;
}

img {
  max-width: 100%;
  height: auto;
}

.ruimte {
  padding: 2px;
}

.reactie-foto {
  border-bottom: 1px solid #0ba8ec;
  width: 100%;
  padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: white !important;
  background-color: #0ba8ec !important;
}

.logo {
  margin-top: 15px;
}

ol.listing{
  list-style-type: decimal;
}
