# NC non case senditive
# L last rule (break the check or something)
# QSA just making this up so don't know if true, but query string attach/append or something

# turn engine on
RewriteEngine on

ErrorDocument 404 /404.php
# ErrorDocument 500 /404

# redirects
Redirect 301 /vechthuis /
Redirect 301 /albums /album
Redirect 301 /koidream /
Redirect 301 /discusshop /
Redirect 301 /sponsoren /sponsor
Redirect 301 /wesdijk /
Redirect 301 /discuscompleet /
Redirect 301 /esha /
Redirect 301 /discusvistotaal /
Redirect 301 /discuspassie /
Redirect 301 /rockzolid /pages/sponsor/
Redirect 301 /sponsor-worden /sponsor/become
Redirect 301 /topics/new /forum/new-topics
Redirect 301 /subscriptions/subscribe /wordlid
Redirect 301 /over-dch /about/
Redirect 301 /hvp-aqua /
Redirect 301 /mhb-glastechniek /
Redirect 301 /mantaray-aquariumverwarming /
Redirect 301 /discusmania-nl /
Redirect 301 /aquaria-veldhuis /
Redirect 301 /osmoseapparaat-nl /
Redirect 301 /the-moonlight /
Redirect 301 /manaus-aquarium /
Redirect 301 /aquaria-design /
Redirect 301 /topic/2357-bodemverwarming /forum
Redirect 301 /topic/6887-bioloog /forum
Redirect 301 /topic/3628-kienhout /forum
Redirect 301 /topic/847-zuurstof /forum
Redirect 301 /topic/5359-stress /forum
Redirect 301 /topic/872-algen /forum
Redirect 301 /topic/153-aquariumstelling /forum
Redirect 301 /topic/3265-ionenwisselaar /forum
Redirect 301 /topic/4393-larven /forum
Redirect 301 /topic/1602-vraagje /forum
Redirect 301 /topic/4953-vuurgarnalen /forum
Redirect 301 /topic/4687-flagellaat /forum
Redirect 301 /topic/7218-flagellaten /forum
Redirect 301 /topic/7218-flagellaten /forum
Redirect 301 /topic/2701-kienhout /forum
Redirect 301 /topic/6711-luchthappen /forum
Redirect 301 /topic/6711-luchthappen /forum
Redirect 301 /topic/5374-bodemwisseling /forum
Redirect 301 /topic/963-bijvissen /forum
Redirect 301 /topic/6916-flagellaten /forum
Redirect 301 /topic/322-serieus /forum
Redirect 301 /topic/3835-siporax /forum
Redirect 301 /topic/4864-bioloog /forum
Redirect 301 /topic/3611-nitraat /forum
Redirect 301 /topic/1302-flagellaten /forum
Redirect 301 /topic/837-guppy /forum
Redirect 301 /topic/1649-wervelbedfilter /forum
Redirect 301 /topic/5419-siporax /forum
Redirect 301 /topic/930-lampen /forum
Redirect 301 /topic/4810-oogziekte /forum
Redirect 301 /topic/938-grind /forum
Redirect 301 /topic/2329-waterverversen /forum
Redirect 301 /topic/4516-planten /forum
Redirect 301 /topic/453-zuurstofs /forum
Redirect 301 /topic/2323-nachtverlichting /forum
Redirect 301 /topic/3030-voedingsbolletjes /forum
Redirect 301 /topic/1294-bodem /forum
Redirect 301 /news/87-welkom /forum
Redirect 301 /topic/6111-eikenextract /forum
Redirect 301 /topic/4031-kaamlaag /forum
Redirect 301 /topic/6042-watertesters /forum
Redirect 301 /topic/961-waterstroom /forum
Redirect 301 /topic/1470-regenwater /forum
Redirect 301 /topic/468-waterstofperoxide /forum
Redirect 301 /topic/8-vinnen /forum
Redirect 301 /topic/1263-slakken /forum
Redirect 301 /topic/8-vinnen /forum
Redirect 301 /topic/6746-gatenziekte /forum
Redirect 301 /topic/5823-hulp /forum
Redirect 301 /topic/7066-beschadiging /forum
Redirect 301 /topic/4434-eikenextract /forum
Redirect 301 /topic/6894-medicatie /forum
Redirect 301 /topic/848-algeneters /forum
Redirect 301 /topic/6753-bijvissen /forum
Redirect 301 /topic/3193-verwarming /forum
Redirect 301 /topic/5012-piepschuim /forum
Redirect 301 /topic/123-stroming /forum
Redirect 301 /topic/5038-tubifex /forum
Redirect 301 /topic/6975-luchtpompje /forum
Redirect 301 /topic/8631-regenwater /forum
Redirect 301 /topic/966-fosfaatfilter /forum
Redirect 301 /topic/4345-vuurgarnaal /forum
Redirect 301 /topic/7086-druivenhout /forum
Redirect 301 /topic/619-kogelvis /forum
Redirect 301 /topic/65-zuurstofgebrek /forum
Redirect 301 /topic/2186-voederautomaat /forum
Redirect 301 /topic/158-ph /forum
Redirect 301 /topic/6053-vinrot /forum
Redirect 301 /topic/7731-vloeiba /forum
Redirect 301 /topic/6569-springstaartjes /forum
Redirect 301 /topic/304-kweekstelling /forum
Redirect 301 /topic/6280-wormpjes /forum
Redirect 301 /topic/149-wervelbedfilter /forum
Redirect 301 /topic/3836-bodemverwarming /forum
Redirect 301 /topic/4243-zoutbad /forum
Redirect 301 /topic/6819-nitraathars /forum
Redirect 301 /topic/289-wormenkuur /forum
Redirect 301 /topic/3274-buikwaterzucht /forum
Redirect 301 /topic/5433-eedekroos /forum
Redirect 301 /topic/7412-groeien /forum
Redirect 301 /topic/356-dactycid /forum
Redirect 301 /topic/1918-bodem /forum
Redirect 301 /topic/182-narigheid /forum
Redirect 301 /topic/1045-ruzie /forum
Redirect 301 /topic/4731-stress /forum
Redirect 301 /topic/1596-komkommer /forum
Redirect 301 /topic/2327-roggen /forum
Redirect 301 /topic/7958-blauwalg /forum
Redirect 301 /topic/611-algeneters /forum
Redirect 301 /topic/6947-lichtkap /forum
Redirect 301 /topic/6221-ramirezi /forum
Redirect 301 /topic/4793-vistuberculose /forum
Redirect 301 /topic/5973-methyleenblauw /forum
Redirect 301 /topic/1603-bodembedekking /forum
Redirect 301 /topic/4011-waterpest /forum
Redirect 301 /topic/3744-voedingsbodem /forum
Redirect 301 /topic/1252-algen /forum
Redirect 301 /topic/4932-vakantie /forum
Redirect 301 /topic/1070-potfilter /forum
Redirect 301 /topic/5116-geslachtsrijp /forum
Redirect 301 /topic/3567-slijmlaag /forum
Redirect 301 /news/13-kieuwwormen /news/
Redirect 301 /topic/1533-diatomeeen /forum
Redirect 301 /topic/7906-l200 /forum
Redirect 301 /topic/1150-geslachtsonderscheid /forum
Redirect 301 /topic/7047-piwowarski /forum
Redirect 301 /topic/4312-komkommer /forum
Redirect 301 /topic/4387-hoekaquarium /forum
Redirect 301 /topic/6757-stroming /forum
Redirect 301 /topic/5198-.. /forum
Redirect 301 /topic/8838-hallo /forum
Redirect 301 /topic/6540-seneye /forum
Redirect 301 /topic/5205-verstopping /forum
Redirect 301 /topic/7495-wortelhout /forum
Redirect 301 /topic/5312-gatenziekte /forum
Redirect 301 /topic/6979-kieuwworm /forum
Redirect 301 /topic/36-aquariumverlichting /forum
Redirect 301 /topic/7156-kleibollen /forum
Redirect 301 /topic/7966-heaters /forum
Redirect 301 /topic/2527-beesjes /forum
Redirect 301 /topic/2744-maanvissen /forum
Redirect 301 /topic/3219-kopstaander /forum
Redirect 301 /topic/515-hexamita /forum
Redirect 301 /topic/3500-fosfaat /forum
Redirect 301 /topic/6230-flubenol /forum
Redirect 301 /topic/6453-bodem /forum
Redirect 301 /topic/3761-kienhout /forum
Redirect 301 /topic/8501-twinstar /forum
Redirect 301 /topic/3126-rangorde /forum
Redirect 301 /topic/2022-draadalgen /forum
Redirect 301 /topic/3129-probleempje /forum
Redirect 301 /topic/1409-vuuraal /forum
Redirect 301 /topic/4496-kleibollen /forum
Redirect 301 /topic/4257-symbiont /forum
Redirect 301 /topic/7621-antibiotica /forum
Redirect 301 /topic/4397-corydoras /forum
Redirect 301 /topic/4096-artemia /forum
Redirect 301 /news/89-aquavaria /news/
Redirect 301 /news/69-clubbladen /news/
Redirect 301 /topic/1571-japura /forum
Redirect 301 /news/54-sponsoren /forum
Redirect 301 /topic/2735-scheidingswand /forum
Redirect 301 /topic/110-paringsgedrag /forum
Redirect 301 /topic/2524-kempvis /forum
Redirect 301 /category/17-sponsoren /




# remove .php
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [NC,QSA]

# if it doesn't exist redirect it to pages folder
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !^/?404
RewriteRule ^(.+)$ /pages/$1 [NC]
