# NC non case senditive
# L last rule (break the check or something)
# QSA just making this up so don't know if true, but query string attach/append or something

# turn engine on
RewriteEngine on

ErrorDocument 404 /404.php
# ErrorDocument 500 /404

# redirects
Redirect 301 /vechthuis /

# remove .php
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [NC,QSA]

# if it doesn't exist redirect it to pages folder
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !^/?404
RewriteRule ^(.+)$ /pages/$1 [NC]
