ErrorDocument 404 /404.php

# remove .php
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [NC,QSA]

# added pagination stuff to ip list
RewriteRule ^ip-list/([0-9]+) ip-list.php?pagina=$1 [NC,L]

# added pagination stuff to ledenlijst
RewriteRule ^user-list/([0-9]+) user-list.php?pagina=$1 [NC,L]

# added pagination stuff to ledenlijst
RewriteRule ^user-search/([0-9]+) user-search.php?pagina=$1 [NC,L]

# added pagination stuff to inschrijvingen
RewriteRule ^approval-signup/([0-9]+) approval-signup.php?pagina=$1 [NC,L]

# added pagination stuff to sponsoren
RewriteRule ^approval-sponsor/([0-9]+) approval-sponsor.php?pagina=$1 [NC,L]

# page
RewriteRule ^page/([0-9]+) page.php?id=$1 [NC,L]
