ErrorDocument 404 /404.php

# remove .php
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [NC,QSA]

# user id thingy, profiel
RewriteRule ^([0-9]+) index.php?id=$1 [NC]

# user id thingy
RewriteRule ^conf/([0-9]+) conf.php?id=$1 [NC]

# messenger
RewriteRule ^messenger/([0-9]+) messenger.php?id=$1 [NC]